.login-box {
    text-align: center;
    padding: 60px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}
  
  .login-header {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  }
  
  .sign-out-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin: 10px 0;
  }
  
  .sign-out-button:hover {
    background-color: #0056b3;
  }

  #google-signin-button {
    margin: 15px 0;
    display: inline-block;
  }
  
  